# Dependencies
node_modules/
package-lock.json.bak

# Wrangler / Cloudflare / Local DB
.wrangler/
.mf/
*.sqlite
*.sqlite3

# Environment and secrets
.env
.env.*
*.pem
*.key

# Operating System Files
Thumbs.db
.DS_Store
Desktop.ini

# Logs and debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
